.faq-info-block {
    
}

.faq-info-block .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.faq-info-block .help-schedule,
.faq-info-block .faq-block {
    margin-bottom: 15px;
}

.faq-info-block .active-day {
    margin: auto;
    text-align: center;
    width: 50%;
    background-color: #bbdefb;
    padding: 15px;
    border: 1px solid #2196f3;
    border-left: 3px solid #2196f3;
}
.faq-info-block .description {
    font-weight: 300;
}

.faq-info-block .description table {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 15px;
}

.faq-info-block .description table thead {
    text-align: center;
    background-color: #bbdefb;
}

.faq-info-block .description table tr td,
.faq-info-block .description table tr th {
    border: 1px solid #2196f3;
    padding: 5px;
    font-weight: 300;
}

.faq-info-block .description table tr th {
    font-weight: 500;
}

.faq-info-block .description table tbody {
    text-align: center;
}

.faq-info-block .github-schedule {
    text-align: center;
}