.group-page {
	padding-top: 55px;
	display: flex;
	flex-wrap: wrap;
}

.group-page > div {
	padding: 15px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	border-radius: 5px;
	background-color: white;
}

.group-page > .group-title {
	text-align: center;
	font-weight: 700;
	margin: 15px 0;
	font-size: 1.5em;
	flex: 0 100%;
}

.group-page > .group-info {
	flex: 1 0 25%;
	font-weight: 300;
}

.group-info .info-description {
	color: #2196f3;
}

.group-page > .group-schedule {
	flex: 1 1 72%;
	margin-left: 15px;
}

.header-of-schedule {
	display: flex;
	width: 100%;
	background-color: #2196f3;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	padding: 15px;
	margin: 0 0 15px 0;
	color: white;
	text-align: center;
}

.header-of-schedule > .day {
	flex: 0 0 15%;
}

.header-of-schedule > .number {
	flex: 0 1 15%;
}

.header-of-schedule > .first-group {
	flex: 0 2 30%;
}

.header-of-schedule > .second-group {
	flex: 0 3 30%;
}

.schedule-day {
	display: flex;
	padding: 0 15px;
}

.schedule-day > .day {
	flex: 0 0 15%;
	text-align: center;
	align-self: center;
}

.schedule-day > .schedule-content {
	flex: 0 1 85%;
}

.schedule-day > .schedule-content > ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.schedule-day > .schedule-content > ul > li {
	flex: 1 100%;
	text-align: center;
	align-self: center;
}