.form-container {
  max-width: 600px;
  margin: auto;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  align-self: center;
  flex: 1;
}

.react-tabs__tab-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.react-tabs .react-tabs__tab {
  flex: 1 50%;
  background-color: #2196f3;
  padding: 15px 0;
  color: white;
  text-align: center;
}

.react-tabs .react-tabs__tab:first-child {
  border-radius: 5px 0 0 0;
}

.react-tabs .react-tabs__tab:last-child {
  border-radius: 0 5px 0 0;
}

.react-tabs .react-tabs__tab:hover {
  background-color: #bbdefb;
  cursor: pointer;
}

.react-tabs .react-tabs__tab--selected {
  background-color: #bbdefb;
}

.form-custom-style {
  padding: 15px;
}

.form-title>h2 {
  font-weight: 500;
  text-align: center;
  color: #2196f3;
}

.form-buttons {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.form-buttons>.btn-flex {
  flex: 1 50%;
}

.form-buttons>.btn-flex:last-child {
  display: flex;
  justify-content: flex-end;
}

.form-inputs>select {
  width: 100%;
  border: none;
  background: url(../../../images/arrow.png) white no-repeat center right;
  padding: 10px 15px;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  -moz-appearance: button;
  -webkit-appearance: button;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: text;
  margin: 0;
  border-bottom: 1px solid #bdbdbd;
}

.form-inputs>select>option {
  border: none;
}

.form-inputs>select>option:last-child {
  border-radius: 0 0 5px 5px;
}