<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <script type="text/javascript">
        constants = {
            page: '@Url.RouteUrl("DefaultApi", new {controller = "Home", action = "Index"})'
        }
    </script>
    
    <title>NUBIP Ukraine Schedule</title>
</head>
<body>
    <div id="app"></div>
    
    <link rel="stylesheet" href="~/style/style.css">
    <script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>