.navbar {
  width: 100%;
  position: absolute;
  z-index: 9999;
  background-color: #2196f3;
  padding: 5px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.navbar .container {
  display: flex;
}

.navbar .container > div {
  flex: 1;
  align-self: center;
}

.navbar .logo {
  text-align: center;
}

.navbar .gotoadmin {
  text-align: right;
}

.navbar .gotoadmin > a {
  opacity: .8;
}

.navbar .gotoadmin > a:hover {
  opacity: 1;
}

.navbar .navbar-link {
  margin-right: 30px;
  color: white;
  opacity: .8;
  text-decoration: none;
}

.navbar .navbar-link:hover {
  opacity: 1;
}