.api-info-block .title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}

.api-info-block .description {
	font-weight: 300;
}

.api-info-block .description table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 15px;
}

.api-info-block .description table tr td:first-child,
.api-info-block .description table tr th:first-child {
	width: 25%;
}

.api-info-block .description table thead {
	text-align: center;
	background-color: #bbdefb;
}

.api-info-block .description table tr td,
.api-info-block .description table tr th {
	border: 1px solid #2196f3;
	padding: 5px;
	font-weight: 300;
}

.api-info-block .description table tr th {
	font-weight: 500;
}

.api-info-block .description table tbody {
	text-align: center;
}